
/* Style för body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6b6d71;
}
/* Style för label, både Från och Till */
label {
    font-weight: bold;
}
/* Style för Sök button och storlikheten för the select form*/
select, input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Style för Sök button*/
input[type="submit"] {
    background-color: #110896;
    color: rgb(233, 229, 229);
}
